.inputBlock {
    display: flex;
    flex-direction: column;
}

.inputBlock label span {
    display: inline-block;
    font-weight: 500;
    font-size: .875rem;
    padding-bottom: .275rem;
    letter-spacing: -0.0625rem;
}

.inputBlock .custom-input {
    padding: .5rem 1rem;
    font-size: .875rem;
    border: 1px solid #ddd;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: .5rem;
    border-width: 0;
    border: 1px solid #ddd;

}

.inputBlock .custom-input:hover {
    border: 1px solid #999;
}

.inputBlock .custom-input::placeholder {
    font-size: .875rem;
}
.inputBlock .required + .custom-input:is(:focus, :active),
.inputBlock .custom-input:is(:focus, :active) {
    border: 1px solid #009900;
    outline: none;
}

.inputBlock .required + .custom-input,
.inputBlock .required + .custom-input:active {
    border: 1px solid #ff0000;
}

.inputBlock .required span ,
.inputBlock .required + .custom-input::placeholder {
    color: #ff0000;
}
