

label span {
    display: inline-block;
    font-weight: 500;
    font-size: .875rem;
    padding-bottom: .275rem;
    letter-spacing: -0.0625rem;
}

.custom-input {
    border: 1px solid #ddd;
    border-radius: .5rem;
}

.custom-input:hover {
    border: 1px solid #999;
}

.custom-input::placeholder {
    font-size: .875rem;
}

.custom-input:is(:focus, :active) {
    border: 1px solid #009900;
    outline: none;
}

.required .custom-input,
.required .custom-input:active {
    border: 1px solid #ff0000;
}

.required span ,
.required .custom-input::placeholder {
    color: #ff0000;
}
